<p class="navbar-text pull-right">
  <% if current_user.roles.exists?(name: 'admin') %>
    <%= link_to "Edit Event", events_path%>
  <% end %>
</p>

<div class="field">
  <ul>
    <li><%= link_to 'list user', menu_user_path%></li>
    <li><%= link_to 'list role', menu_role_path%> </li>
  </ul>
</div>